# Auto detect text files and perform LF normalization
* text=auto

# Flutter/Dart files
*.dart text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.swift text eol=lf
*.gradle text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.apk binary